$bug: #91A119 !default;
$dark: #624D4E !default;
$dragon: #5060E1 !default;
$electric: #FAC000 !default;
$fairy: #EF70EF !default;
$fighting: #FF8000 !default;
$fire: #E62829 !default;
$flying: #81B9EF !default;
$ghost: #704170 !default;
$grass: #3FA129 !default;
$ground: #915121 !default;
$ice: #3DCEF3 !default;
$normal: #9FA19F !default;
$other: #68A090 !default;
$poison: #9141CB !default;
$psychic: #EF4179 !default;
$rock: #AFA981 !default;
$steel: #60A1B8 !default;
$stellar: #44628D !default;
$water: #2980EF !default;